@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* * {
    border: 1px solid red;
  } */
  :root {
    --color-normal: #1F1F1F;
    --color-placeholder: #CECECE;

    --color-shadow-line: #DDE1E5;

    --color-primary: #0463BB;
    --color-primary-900: #2E65F3;
    --color-primary-800: #0048B2;
    --color-primary-700: #0463BB;
    --color-primary-600: #0573DA;
    --color-primary-500: #0684F9;
    --color-primary-500-lighter: #0684F926;
    --color-primary-400: #59ADFB;
    --color-primary-300: #ACD6FD;
    --color-primary-200: #DCECFB;

    --color-secondary: #10248E;
    --color-secondary-700: #10248E;
    --color-secondary-600: #1836D5;
    --color-secondary-500: #5169EB;
    --color-secondary-400: #7D8FF0;
    --color-secondary-300: #A8B4F5;

    --color-error: #E32424;
    --color-success: #46BA1D;
    --color-label: #8A92A6;
    --color-icon: #474747;
    --color-h4: #232D42;
    --color-aside: #6F727A;
    --color-disabled-bg: #F5F7F8;
    --color-disabled-borders: #5F7387;

    --color-card-border: #E0E2E7;

    --color-container: #E9ECEF;

    --color-table-bg-odd: #202427;
    --color-table-bg-even: #2E3235;
    --color-table-fg: white;

    --progress: 20%;
    --progress-value: "20%";
  }

  html {
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
  }

  body {
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
    font-family: "Source Sans Pro";
  }

  #Layer_1 {
    transform: scale(25) translate(0px, -100px);
  }

  #__nuxt {
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%
  }

  aside {
    color: var(--color-aside);
    font-size: 1rem;
  }

  h4 {
    font-weight: 700;
    color: var(--color-h4);
    font-size: 32px;
    line-height: 40px;
  }

  h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
  }
  
  h5 {
    font-size: 28px;
    line-height: 35px;
    font-weight: 700;
  }

  label {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--color-label);
  }

  div:focus-within > label {
    color: var(--color-primary-600);
  }

  input {
    background: white;
    border: 1px solid var(--color-primary-600);
    border-radius: 4px;
    align-self: stretch;
    padding: 8px 16px;
    font-size: 16px;
  }

  input:disabled {
    background: var(--color-disabled-bg);
    border-color: var(--color-disabled-borders);
  }

  input:focus {
    box-shadow: 0px 0px 0px 4px rgba(5, 115, 218, 0.25);
    outline: none;
  }

  .checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  .checkbox {
    padding: 0;
    margin: 0;
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-label);
    box-shadow: 0px 4px 8px rgba(0, 16, 41, 0.1);
    background: white;
    border-radius: 2px;
  }

  .checkbox.checked {
    border-color: var(--color-primary-600);
  }

  .checkbox > img {
    transform: scale(1.7) translate(10%, 5%);
  }

  /* .checkbox {
    background: transparent;
    border: 1px solid var(--color-primary-600);
    background-image: url("/tick.svg");

  } */

  .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    width: 188px;
    height: 40px;
    border-radius: 4px;
    background-color: var(--color-primary-600);
  }
  .button > span {
    font-size: 16px;
    font-weight: 700;
    /* line-height: 24; */
    text-align: center;
    color: white;
    user-select: none;
  }
  .button:hover {
    cursor: pointer;
    background-color: var(--color-primary-500);
  }

  .auth-background {
    background-image: url("/graphic-side.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }


  .sidemenu-items {
    color: var(--color-label);
  }

  .sidemenu-items > p.text-label {
    color: var(--color-label);
  }

  .active-link {
    color: var(--color-primary-500);
    background-color: var(--color-primary-500-lighter);
    border-left: 3px solid var(--color-primary-500);
  }

  .active-link > p.text-label{
    color: var(--color-primary-500);
  }

  .home-icon {
    
  }

  .card {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05), 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }

  .cardgroup {
    height: 120px;
  }

  .progress{
    display: flex;
    justify-content: space-around;
  }
  .progress-item {
    display: flex;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    font-size: 0;
    background: white;
    animation: .4s ease-out reverse;
    background: conic-gradient(var(--color-primary-900) calc(var(--progress)), var(--color-primary-200) 0deg);

  }
  
  .progress-item::after {
    /* --progress: 20%;
    --progress-value: "20%"; */
    content: var(--progress-value);

    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 240px;
    margin: 20px;
    border-radius: 50%;
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    /* line-height: 60px; */
    color: #232325;
    background: white;
  }

  .table-header {
    width: 100%;
    font-weight: 700;
    font-size: 1rem;
    line-height: 20px;
    display: flex;
    align-items: center;
    border-radius: 8px 8px 0px 0px;
    border-bottom: 1px solid var(--color-card-border);
  }

  .table-header > .cell.action-cell {
    display: flex;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    width: 90px;
    min-width: 90px;
  }

  .table-header > .cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 4px;
    width: 100%;
  }

  .x-table-row {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    border-bottom: 1px solid var(--color-card-border);
    height: 40px;
    width: 100%;
  }

  .x-table-row > .cell {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 4px;
    width: 100%;
  }

  .x-table-row > .cell.action-cell {
    display: flex;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    width: 90px;
    min-width: 90px;
  }

  [class~='x-table-row']:last-of-type  {
    border-bottom: 0px;
  }


  .table-contents {
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 8px 8px;
  }

}
